{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Промышленность Урала</title>
    <link rel="stylesheet" href="{% static 'ED/styles/second_page.css' %}">
</head>
<body>
    <img src='{% static "ED/img/index_ural.jpg" %}' class="fon">

    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a class="nuv-elments" href="{% url 'index.html' %}">Back </a>
                <div class="header-title">
                    <h1>Промышленность Урала</h1>
                </div>
                <a class="nuv-elments" href="{% url 'third_page' %}">Next</a>
            </div>
        </div>
    </header>

    <main class="main_block">
        <div class="container">
            <div class="first_information">
                <div class="fossils">
                    <h3>Полезные ископаемые Урала</h3>
                    <p>
                        Уральские горы протянулись с севера на юг более чем на две тысячи километров.
                        Они оказались богатой природной кладовой, одной из самых богатейших в РФ.
                        На Урале найдено около тысячи различных видов минерального сырья, более 12 000 бассейнов полезных ископаемых, почти все элементы Таблицы Менделеева.
                        До пятидесяти пяти различных полезных ископаемых добывается сегодня на Урале.
                        <b>В основном это</b>: <em>каменный и бурый уголь, марганцевые, железные, хромовые, никелевые, алюминиевые и медные руды, калийные и поваренные соли, мрамор, золото, графит, алмаз, сера, асбест и, конечно, нефть и природный газ</em>.
                        <br>
                        На Урале также встречается множество <b>драгоценных камней</b>: <em>изумруд, топаз, розовый кварц, аметист, александрит</em> и др. Они принесли краю большую славу.
                        Большинство видов драгоценных камней образовалось вследствие вулканической активности, но некоторые, такие как: <em>малахит, яшма, циркон, опал</em>, образуется путем наслоения твердых пород.
                    </p>
                </div>
                <div class="fossils-img">
                    <div class="first_line_fossil_img">
                        <figure>
                            <img class="medn-img" src="{% static 'ED/img/second_page_mednaya-ruda.jpg' %}" alt="Фото медной руды">
                            <figcaption><em>Медная руда</em></figcaption>
                        </figure>
                        <figure>
                            <img class="mramor-img" src="{% static 'ED/img/second_page_mramor.jpg' %}" alt="Фото мрамора">
                            <figcaption><em>Мрамор</em></figcaption>
                        </figure>
                    </div>
                    <div class="second_line_fossil_img">
                        <figure>
                            <img class="ametist-img" src="{% static 'ED/img/second_page_ametist.jpg' %}" alt="Фото аметиста">
                            <figcaption><em>Аметист</em></figcaption>
                        </figure>
                        <figure>
                            <img class="malahit-img" src="{% static 'ED/img/second_page_malahit.jpg' %}" alt="Фото малахита">
                            <figcaption><em>Малахит</em></figcaption>
                        </figure>
                    </div>
                    <div class="third_line_fossil_img">
                        <figure>
                            <img class="kal_salt-img" src="{% static 'ED/img/second_page_kal_salt.jpg' %}" alt="Фото калийной соли">
                            <figcaption><em>Калийная соль</em></figcaption>
                        </figure>
                        <figure>
                            <img class="kamen_ugol-img" src="{% static 'ED/img/second_page_kamen_ugol.jpg' %}" alt="Фото каменного угля">
                            <figcaption><em>Каменный уголь</em></figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="second_information">
                <div class="prom">
                    <h3>Промышленность Урала</h3>
                    <p>
                        Урал занимает центральное положение в стране.
                        Он входит в состав <b>Западной экономической зоны</b> России, граничит с районами <b>Восточной зоны</b>, из-за этого сбыт его продукции происходит как в западных, так и в восточных районах страны и он имеет доступ к разнообразным сырьевым и топливно-энергетическим ресурсам.
                        Всё вышесказанное является причиной расположения на Урале большого количества <b>отраслей промышленности:</b>
                        <em>чёрная и цветная металлургия, машиностроение, металлообработка, производство строительных материалов, переработка древесины, химическая, лёгкая, пищевая и нефте- и газоперерабатывающая промышленности.</em>
                        Урал производит от 20 до 40 % общероссийского выпуска металлорежущих станков, экскаваторов, нефтеаппаратуры, химического оборудования и машин для сельского хозяйства, свыше 35 % чугуна, около 15 % деловой древесины и пиломатериалов, почти 20 % бумаги.
                        В районе также хорошо развита электроэнергетика:
                        <em>Пермская, Сакмарская, Ириклинская, Троицкая, Южноуральская, Кармановская, Рефтинская, Красногорская, Верхне-Тагильская</em> <b>тепловые электростанции</b>, <em>Воткинская, Камская, Нугушская, Аргазинская, Верхнеуральская</em> <b>гидроэлектростанции</b> и <em>Белоярская</em> <b>атомная электростанция</b>> располагаются вблизи крупных городов.
                        <br>Достаточно хорошо развит <b>Агропромышленный комплекс:</b>> 
                        видов сельского хозяйства немного, но под основные направления выделены большие территории.
                        <b>Основными направлениями сельского хозяйства являются:</b> <em>молочное и молочно-мясное скотоводство, свиноводство, выращивание картофеля, сахарной свеклы, подсолнечников, зерновых культур (рожь, пшеница, овёс, гречиха)</em>, а также <em>лесные промыслы и лесозаготовка.</em>
                        Для гористой местности характерно животноводство и лесные промыслы, равнинной же местности выращивают культурные растения.
                    </p>
                </div>
                <div class="prom-videos">
                    <b>Некоторые отрасли промышленности</b>
                    <div class="first_line_prom_videos">
                        <figure>
                            <video class="ch_matallurg" id="c-m" loop muted>
                                <source src="{% static 'ED/mp4/ch_metallurg.mp4' %}">
                            </video>
                            <figcaption><em>Чёрная металлургия</em></figcaption>
                        </figure>
                        <figure>
                            <video class="neft" id="neft" loop muted>
                                <source src="{% static 'ED/mp4/neft.mp4' %}">
                            </video>
                            <figcaption><em>Нефтедобыча</em></figcaption>
                        </figure>
                    </div>
                    <div class="second_line_prom_videos">
                        <figure>
                            <video class="mechbuilding" id="m-b" loop muted>
                                <source src="{% static 'ED/mp4/mechbuilding.mp4' %}">
                            </video>
                            <figcaption><em>Машиностроение</em></figcaption>
                        </figure>
                        <figure>
                            <video class="easy_prom" id="e-p" loop muted>
                                <source src="{% static 'ED/mp4/easy_prom.mp4' %}">
                            </video>
                            <figcaption><em>Лекгая пром.</em></figcaption>
                        </figure>
                    </div>
                </div>
                <div class="Ural-map">
                    <figure>
                        <img class="Ural-map-img" src="{% static 'ED/img/second_page_Ural_map.jpg' %}" alt="Карта Урала">
                        <figcaption><em>Карта Урала</em></figcaption>
                    </figure>
                </div>
                <div class="APK-videos">
                    <b>Некоторые виды АПК</b>
                    <div class="first_line_APK_videos">
                        <figure>
                            <video class="skotovodstvo" id="s-v" loop muted>
                                <source src="{% static 'ED\mp4\skotovodstvo.mp4' %}">
                            </video>
                            <figcaption><em>Скотоводство</em></figcaption>
                        </figure>
                        <figure>
                            <video class="wheat" id="w" loop muted>
                                <source src="{% static 'ED/mp4/wheat.mp4' %}">
                            </video>
                            <figcaption><em>Выращивание пшеницы</em></figcaption>
                        </figure>
                    </div>
                    <div class="second_line_APK_videos">
                        <figure>
                            <video class="sunflowers" id="s-f" loop muted>
                                <source src="{% static 'ED\mp4\sunflowers.mp4' %}">
                            </video>
                            <figcaption><em>Подсолнечники</em></figcaption>
                        </figure>
                        <figure>
                            <video class="logging" id="l-g" loop muted>
                                <source src="{% static 'ED/mp4/logging.mp4' %}">
                            </video>
                            <figcaption><em>Лесозаготовка</em></figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="third_information">
                <div class="prom-cities">
                    <h3>Крупные промышленные города Урала</h3>
                    <p>
                        Текст
                    </p>

                </div>
                <div class="prom-cities-img">
                    
                </div>
            </div>
        </div>
    </main>


    <script src="{% static 'ED/js/second_page.js' %}"></script>
</body>
</html>